$primary: #000;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

.logo-img {
    width: 25vw; 
    height: 7vh;
    object-fit: contain;
    margin-left: 5vw;
}

.navbar-nav{
    height: 100%;
    justify-content: space-between;
    .nav-item{
        margin-left: 2vh;
    }
    .nav-link{
        color: $white;
        font-size: 1.4rem;
        font-weight: 500;
    }
}
.main-info{
    .container-fluid {
        padding: 0;
        width: 100%;
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20vh;
    }
}



.info-container {
    position: relative;
    width: 100%;
    .stairs-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2 {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16vw;
        font-weight: 500;
        color: white;
        opacity: 0.7;
        z-index: 1;
    }
}

.message-info{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    h3{
        font-weight: 700;
        margin-bottom: 5vh;
        width: 60%;
    }
    h4{
        padding-left: 7vw;
        border-left: 2px solid $black;
    }
}

.form-input {
    background: $black;
    .form-container{
        height: 140vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid $white;
        .mb-3 {
            width: 80%;
            margin: auto;
            color: $white;
            margin-bottom: 3vh;        
            input::placeholder{
                color: $white;
            }
            input{
                background-color: $black;
                border: none;
                border-radius: 0;
                border-bottom: 1px solid $white;
            }
            .form-control{
                padding: 0;
                background-color: $black;
                color:$white;
            }
            .message-label{
                margin-bottom: 4vh;
            }
        }
            .btn-circle {
                width: 15vh;
                height: 15vh;
                padding-left: 2vh;
                border-radius: 15vh;
                border: 2px solid $white;
                text-align: center;
                font-size: 1.6rem;
                color: $white;
        }
        .btn-input{
            margin-left: 70%;
            margin-bottom: 5vh;
            margin-top: 5vh;
        }
    }
}

.footer-info{
    background-color: $dark;
    color: $white;
    width: 100%;
    .container-info{
        height: 100vh;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid $white;
    }
        .col-6 {
            padding: 5vw;
        }
        .col-aside{
            display:flex;
            flex-direction: column;
            width: 100%;
            height: 25vh;
            align-items: flex-end;
            justify-content: center;
            padding: 5vw;
            h4{
                margin: 0;
            }
        }
        h6{
            font-size: 0.8rem;
            font-weight: 400;
            margin-bottom: 2%;
            color: $gray-500;
        }
        h5{
            margin-bottom: 3vh;
        }
        .col-custom{
            margin-top: 8vh ;
        
        }
}

.footer-container{
    height: 30vh;
    color: $gray-500;
    h5{    font-size: 0.8rem;
    }
    .col-copyright{
        display: flex;
        flex-direction: column;
        height: 10vh;
        align-items: center;
        justify-content: flex-end;
    }
    .col-polities{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        .h5-one{
            width: 50%;
            text-align: end;
            right: 2vw;
            margin:0;
            padding-right: 1vh;

        }
        .h5-two{
            width: 50%;
            text-align: start;
            left: 2vw;
            margin: 0;
            padding-left: 1vh;

        }
        .h5-three{
            width: 100%;
            text-align: center;
            margin:0;
        }
        .h5-four{
            width: 100%;
            text-align: center;
            margin:0;
        }
    }
    .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        svg{
            margin: 0 3vw;
            color: $white;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-info{
        .container-fluid {
            height: 100vh;
            gap: 10vh;
        }
    }
    .footer-info{
        .container-info{
            height: 50vh;
            .col-custom{
                margin-top: 0;            
            }
        }

}
}


@media (min-width: 992px) and (max-width: 1199px)  {
    .info-container {
        height: 90%;
        .stairs-img {
            height: 90%;
            object-fit: cover;
        }
        h2 {
            font-size: 14vw;
    }}
    .main-info{
        .container-fluid {
            height: 100vh;
            gap: 0;
            bottom: 0;
        }
    }
    .footer-info{
        .container-info{
            height: 50vh;
            .col-custom{
                margin-top: 0;            
            }
        }
}
}

@media (min-width: 1200px) and (max-width: 1399px)  {
    .info-container {
        height: 80%;
        .stairs-img {
            height: 90%;
            object-fit: cover;
        }
        h2 {
            font-size: 14vw;
    }}
    .main-info{
        .container-fluid {
            height: 110vh;
            gap: 0;
            bottom: 0;
        }
    }
    .footer-info{
        .container-info{
            height: 50vh;
            .col-custom{
                margin-top: 0;            
            }
        }
}
}

@media (min-width: 1400px) {
    .logo-img {
        width: 10vw; 
        margin-left: 0;
    }
    
    .navbar-nav{
        height: 100%;
        width: 100%;
        justify-content: space-between;
        .nav-item{
            margin-left: 2vh;
        }
        .nav-link{
            color: $white;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .info-container {
        height: 80vh;
        .stairs-img {
            height: 90%;
            object-fit: cover;
        }
        h2 {
            font-size: 5vw;
            transform: translate(-0%, -50%);
            position: absolute;
            left: 70%;
    }}
    .main-info{
        .container-fluid {
            height: 120vh;
            gap: 0;
            bottom: 0;
        }
    }
    .footer-info{
        .container-info{
            height: 50vh;
            .col-custom{
                margin-top: 0;            
            }
        }
    }
.footer-container{
    height: 20vh;
    margin: 5vh;
        .col-polities{
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0;
            .h5-one{
                width: 100%;
                text-align: start;
            }
            .h5-two{
                width: 100%;
                text-align: start;
    
            }
            .h5-three{
                width: 100%;
                text-align: center;
                margin:0;
            }
            .h5-four{
                width: 100%;
                text-align: center;
                margin:0;
            }
        }
        .social-media{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 10vh;
            svg{
                margin: 0 1vw;
                color: $white;
                height: 3vh;
                width: 3vh;
            }
        }
    }
}